action_network_key = '<key>'
slack_news_magic_key = '<key>'
slack_news_magic_team_id = '<workspace id>'
slack_slgb_key = '<workspace to send job notifications>'
slack_user_key = '<admin user token to invite the bot to channels>'
slack_bot_id = '<id of the bot>'
dropbox_key = '<dropbox api key for uploading job logs>'
wordpress_app_password = '<username>:<app password>'
wordpress_host_name = '<hostname where calendar api is served>'
